<html>
    <head>
        <title> {{ title }} - SetBuilder </title>
        <!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/index.css') }}">-->
        <style>
            .mySlides {display:none;}
        </style>
    </head>



    <body>
        <div id="main">
            <h1 style="color: rgb(110, 110, 128); text-align: center; font-family: system-ui";>Welcome to the Set Builder!</h1>
        </div>
        
        <div style="display: inline; align-content: center; margin-left: 45%;">

            <!--START OPTION FOR SET BUILDER-->
            <div style="display: inline; margin-right: 2%; "> 
                <button style="font-size: 20px; border-radius: 12px; font-family: system-ui">
                    <a href="{{ url_for('start') }}">Start</a>
                </button>
            </div>

            <!--LEARN OPTION FOR SET BUILDER-->
            <div style="display: inline;"> 
                <button style="font-size: 20px; border-radius: 12px; font-family: system-ui">
                    <a href="">Learn</a>
                </button>
            </div>

        </div>

        <div class="w3-container">

          
          <div class="w3-content w3-section" style="max-width:500px">
            <img class="mySlides w3-animate-top" src="img_rr_01.jpg" style="width:100%">
            <img class="mySlides w3-animate-bottom" src="img_rr_02.jpg" style="width:100%">
            <img class="mySlides w3-animate-top" src="img_rr_03.jpg" style="width:100%">
            <img class="mySlides w3-animate-bottom" src="img_rr_04.jpg" style="width:100%">
          </div>

          <script>
            var myIndex = 0;
            carousel();
            
            function carousel() {
              var i;
              var x = document.getElementsByClassName("mySlides");
              for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";  
              }
              myIndex++;
              if (myIndex > x.length) {myIndex = 1}    
              x[myIndex-1].style.display = "block";  
              setTimeout(carousel, 2500);    
            }
            </script>
        {% block content %}
        {% endblock %}
    </body>

    
</html>