{% block content %}

<head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='level.css') }}">
</head>
<body style="background-color: darkseagreen">
    <h1 style="font-family: system-ui;">Level 3</h1>
    <p>Consider the following sets. The universal set U for this problem is the set of all residents of
    India.</p>
    <div style="display: inline;">
    <div style="float: right;margin-right: 17%; width: 30%; border-radius: 12px; border-style: solid; border-width: 2px; border-color:cadetblue; align-content: center;">
        <p style="font-size: 25px; margin-top: 0">E = set of all English Speakers}</p>
    </div>
    
    <div style="float: right; margin-bottom: 3%; margin-right: 5%; width: 30%; border-radius: 12px; border-style: solid; border-width: 2px; border-color:cadetblue; align-content: center;">
        <p style="font-size: 25px; margin-top: 0">{H = set of all Hindi speakers}</p>
    </div>
    
    <div style="float: right; margin-bottom: 3%; margin-right: 15%; width: 34%; border-radius: 12px; border-style: solid; border-width: 2px; border-color:cadetblue; align-content: center;">
        <p style="font-size: 25px; margin-top: 0">{P = set of Polish speakers}</p>
    </div>
    
    <div style="float: right; margin-bottom: 3%; margin-right: 5%; width: 30%; border-radius: 12px; border-style: solid; border-width: 2px; border-color:cadetblue; align-content: center;">
        <p style="font-size: 25px; margin-top: 0%;">{U = set of all Urdu speakers}</p>
    </div>
    
    </div>
    
    <h2 style="clear: right">
        Using only the symbols (VALUES IN PARENTHESES CORRESPOND TO SPECIAL SYMBOLS) A, B, C,, N, ∈(E), ⊆(CC), =, ≠(!=), ∩(^), ∪(U), ×(*),′, ∅(%), (, and ) write the following statement into the language of set theory: </br>
    </br>
        Residents of India who speak English, but not Hindi or Urdu.
    </h2>
    
    <form action="" method="post" novalidate style="float: left; clear: right;">
        {{ answerForm.hidden_tag() }}
        <p>
            {{ answerForm.userAnswer.label}} </br>
            {{ answerForm.userAnswer(size=52)}}
        </p>
        <a href="{{ url_for('level3', user_answer=answer) }}"><p> {{ answerForm.submitAnswer() }} </p></a>
    
    </form>
    </body>
    {% endblock %}